<h2>Jobs</h2>

<table>
  <%unless @jobs.blank?%>
    <tr>
      <th>Title</th>
    </tr>
    <%@jobs.each do |job|%>
      <tr>
        <td><%=job.title%></td>
        <td><%=job.description%></td>
        <td><%= link_to 'Apply job', new_job_application_path(job_id: job.id, list_id: job.list_id)%></td>
      </tr>
    <%end%>
  <%else%>
    <h3>No jobs yet</h3>
  <%end%>
</table>